
        h1{
            font: size 50px;
            text-align:center;
            border-bottom:2px solid black;
            margin:0;
            padding: 20px;

        }
        a{
            text-decoration:none;
        }
    


        ol{
            border-right:2px solid black;
            margin:0;
            width:100px;

        }
       
       
        body{
            margin:0;
        }

        #information {
            display:grid;
            grid-template-columns:150px 1fr;
        }
      
       
   